// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    color: var(--color-contrast-medium-high);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
  .footer-copyright {
    text-align: left;
    @include font-size('sm');
    margin-left: 20px;
    max-width: 780px;
    color: var(--color-contrast-medium-high);
  }

  .iteminvisible {
    width: 100px;
    height: 1px;
    visibility: hidden;
  }
  